:root {
	--bg-01: rgba(239, 239, 242, 1);
	--bg-02: rgba(243, 244, 246, 1);
	--bg-03: rgba(232, 233, 237, 1);
	--bg-04: rgba(52, 53, 56, 0.1);
	--bg-05: rgba(59, 59, 59, 1);
	--bg-06: rgba(230, 232, 236, 1);
	--bg-07: rgba(248, 251, 255, 1);
	--bg-08: rgba(171, 172, 175, 1);
	--color-01: rgba(51, 51, 51, 0.95);
	--color-02: rgba(48, 48, 48, 1);
	--color-03: rgba(45, 45, 45, 1);
	--color-04: rgba(174, 176, 177, 1);
	--color-05: rgba(225, 225, 226, 0.46);
	--color-06: rgba(251, 251, 252, 1);
	--color-07: rgba(109, 110, 111, 1);
	--color-08: rgba(51, 52, 53, 1);
	--color-09: rgba(222, 222, 227, 0.45);
	--color-10: rgba(82, 83, 82, 1);
	--color-11: rgba(228, 228, 233, 1);
	--color-12: rgba(251, 251, 252, 1);
	--color-13: rgba(38, 38, 38, 0.55);
	--color-14: rgba(46, 46, 46, 1);
	--color-15: rgba(46, 46, 46, 0.75);
	--color-16: rgba(209, 209, 210, 1);
	--color-17: rgba(89, 89, 89, 1);
}
